<ion-view title="Activité">
	<ion-header-bar class="bar-subheader item-input-inset">
		<label class="item-input-wrapper">
			<i class="icon ion-search placeholder-icon"></i>
			<input type="search" placeholder="Recherche" ng-model="search" ng-change="search_onchange()" autofocus>
		</label>
	</ion-header-bar> 

	<ion-content>
		<div class="list">
			<p ng-show="noresult" class="list-inset item item-icon-left">
				<i class="icon ion-sad"></i>
				Aucun résultat
			</p>
			<div class="item item-avatar my-item"
				collection-repeat="item in items"
				collection-item-width="'100%'"
				collection-item-height="74"
				ng-click="item_onclick(item)">
				<img ng-src="{{url}}/images/people/{{item._source.actor.displayName}}.png">
				<img ng-src="{{url}}/images/other/{{item._source.verb}}.png" style="width:12px">
                <h2 style="display:inline;">{{item._source.actor.displayName}} </h2>

                <h6 style="display;">{{item._source.object.displayName}}</h6>
			</div>
		</div>
	</ion-content>
</ion-view>
