<ion-view title="Journal" class="bar-energized">
	<ion-header-bar class="bar-subheader item-input-inset">
		<label class="item-input-wrapper">
			<i class="icon ion-search placeholder-icon"></i>
			<input type="search" ng-submit="submit()" placeholder="Partager avec l'entourage de Margaux" ng-model="post" autofocus />
		</label>
	</ion-header-bar> 

	<ion-content>
		<div class="list">
			<p ng-show="noresult" class="list-inset item item-icon-left">
				<i class="icon ion-sad"></i>
				Aucun résultat
			</p>
	 			<ion-item item-height="185px" class="item item-avatar my-item" collection-repeat="item in items" ng-click="item_onclick(item)">
				<img ng-src="{{url}}/images/other/{{item._source.object.objectType}}.png" style="margin-top:50px">
				<h4 style="color:#003D83;text-align:right">{{item._source.published | date:'EEEE dd MMM HH:mm'}}</h4>
				
				<div style="{{functionThatReturnsStyle(item)}}">
		            <div>
						<img ng-src="{{url}}/images/people/{{item._source.actor.displayName}}.png" onerror="this.src='http://localhost:3000/images/people/Ensemble.png'" style="margin:-10px;width:50px" >
	                	<div style="display:inline;margin:15px 15px 15px 15px">
	                		<h2 style="display:inline;vertical-align:top"><b style="display:inline;vertical-align:top;margin-top:10px">{{item._source.actor.displayName}}</b></h2>
	               		</div>
	                </div>
	                <div style="display;margin:6px 0px 0px 8px;">
		                <h2>{{item._source.object.displayName}}</h2>
		                <div ng-if="item._source.object.objectType == 'photo'" style="margin:0px 0px 0px 8px">
		                	<img ng-src="{{url}}/images/activity/{{item._source.object.id}}" style="height:60px">
		            	</div>
	            	</div>
        		</div>
                <div ng-if="item._source.verb == 'post'" style="margin:10px 1px 1px 1px">
	            	<h2 style="display:inline;color:#0C56AB;text-align:left"><i class="icon ion-share"></i> Partager</h2>   
	            	<h2 style="display:inline;color:#0C56AB;text-align:right"><i class="icon ion-email"></i> Commenter</h2>
            	</div>
			</ion-item>
		</div>
	</ion-content>
</ion-view>
