<ion-view title="Calendrier">

	<ion-content padding="true">

	<div class="list card">

		<div class="item item-icon-left" style="background-color:#ECF5FF">
			<h2><i class="icon ion-calendar"></i> Aujourd'hui</h2>
		</div>

		<div class="item item-avatar">
			<img ng-src="{{url}}/images/people/Sarah.png">
			<h2 style="">11:00 </h2> Sarah passera faire les soins
		</div>

		<div class="item item-avatar">
			<img ng-src="{{url}}/images/people/Martine.png">
			<h2 style="">14:00 </h2> RDV Docteur Ruthy
		</div>

		<div class="item item-avatar">
			<img ng-src="{{url}}/images/people/Suzy.png">
			<h2 style="">18:00 </h2> Repas avec Suzy
		</div>

	</div>

	<div class="list card">

		<div class="item item-icon-left" style="background-color:#ECF5FF">
			<h2><i class="icon ion-calendar"></i> Cette semaine</h2>
		</div>

		<div class="item item-avatar">
			<img ng-src="{{url}}/images/people/Michel.png">
			<h2 style="">Mardi 17 Juin </h2> Arrivée Michel pour 3 jours
		</div>

		<div class="item item-avatar">
			<img ng-src="{{url}}/images/people/Sarah.png">
			<h2 style="">Jeudi 19 Juin </h2> Sarah passera faire les soins
		</div>

		<div class="item item-avatar">
			<img ng-src="{{url}}/images/people/Ehpad.png">
			<h2 style="">Vendredi 20 Juin </h2> Activité culture Ehpad beau sejour
		</div>

		<div class="item item-avatar">
			<img ng-src="{{url}}/images/people/Alex.png">
			<h2 style="">Samedi 21 Juin </h2> Repas avec Alex
		</div>

	</div>	

    </ion-content>

	<div class="tabs tabs-icon-top">

		<div class="tab-item" ng-click="createEvent()">
	        <a class="tab-item">
	        	<i class="icon ion-plus"></i>
	          	Event
	        </a>
	    </div>
	  	

	</div>

</ion-view>