<ion-view title="Contacter">

	<ion-content padding="true">

	<div class="list card">

		<div class="item item-avatar" style="background-color:#ECF5FF">
			<img ng-src="{{url}}/images/people/Suzy.png">
			<h2>Suzy</h2>
			<h3 style="color:#003D83"><i class="icon ion-person"></i>  Interloculeur principal</h3>
		</div>

		<a href="#" class="item item-icon-left">
			<i class="icon ion-home"></i>
			02.33.33.21.92
		</a>

		<a href="#" class="item item-icon-left">
			<i class="icon ion-ios-telephone"></i>
			06.22.34.22.32
		</a>

		<a href="#" class="item item-icon-left">
			<i class="icon ion-email"></i>
			suzy@gmail.com
		</a>

	</div>

	<div class="list card">

		<div class="item item-avatar" style="background-color:#ECF5FF">
			<img ng-src="{{url}}/images/people/Souhail.png">
			<h2>Souhail</h2>
			<h3 style="color:#003D83"><i class="icon ion-medkit"></i>  En cas de probleme médical</h3>
		</div>

		<a href="#" class="item item-icon-left">
			<i class="icon ion-ios-telephone"></i>
			06.67.34.22.32
		</a>

		<a href="#" class="item item-icon-left">
			<i class="icon ion-email"></i>
			souhail@hotmail.com
		</a>

	</div>

	</ion-content>

</ion-view>
