<ion-view title="Rechercher">

<ion-content padding="true">


<ul class="list">

  <li class="item item-toggle">
     Aidants
     <label class="toggle toggle-positive">
       <input type="checkbox">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </li>

  <li class="item item-toggle">
     Professionel
     <label class="toggle toggle-positive">
       <input type="checkbox">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </li>

</ul>

	<ui-gmap-google-map center='map.center' zoom='map.zoom'>

	    <ui-gmap-circle ng-repeat="c in circles track by c.id" center="c.center" stroke="c.stroke" fill="c.fill" radius="c.radius"
	                visible="c.visible" geodesic="c.geodesic" editable="c.editable" draggable="c.draggable" clickable="c.clickable" control="c.control">
	    </ui-gmap-circle>


        <ui-gmap-marker coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id">


	</ui-gmap-google-map>

</ion-content>
</ion-view>