<ion-view title="Invitation">

<ion-content padding="true">

<div class="list card">

	<div class="item item-avatar" style="background-color:#ECF5FF">
		<img ng-src="{{url}}/images/people/Suzy.png">
		<h2>Suzy</h2>
		<p>Habite à Nantes</p>
	</div>

	<div class="item item-body">
		<h2>Message de Suzy : </h2>
		<p>Bonjour, je croisais souvent Margaux et j'ai appris pour la nouvelle... Je souahite entrer dans son réseau ensemble. Pouvons nous échanger ? Je suis disponible tous les soirs de la semaine sauf le Mercredi. Cordialement </p>
	</div>

	<div class="item item-avatar" style="background-color:#ECF5FF">
		<img ng-src="{{url}}/images/people/Jean.png">
		<h2>Jean</h2>
		<p>Habite à Paris 14e</p>
	</div>

	<div class="item item-body">
		<h2>Réponse de Jean : </h2>
		<p>Bonjour Suzy, Merci pour votre soutien. Oui avec plaisir. Elle rentre de l'hotipal Lundi. Elle sera certainement heureuse de vous revoir.</p>	
		<h2>...</h2>
	</div>

	<div class="item tabs tabs-secondary tabs-icon-left">
		<a class="tab-item" href="#">
			<i class="icon ion-person-add"></i>
			ajouter
		</a>
		<a class="tab-item" href="#">
			<i class="icon ion-chatbox"></i>
			répondre
		</a>
		<a class="tab-item" ng-click="refuse_onclick()">
			<i class="icon ion-share"></i>
			refuser
		</a>
	</div>

</div>

</ion-content>
</ion-view>