<ion-view title="Objets">

	<ion-content padding="true">

	<h4>Margaux a 2 objets connectés</h4>

    <div class="card">
      <div class="item item-divider">
        Information Tensiometre
      </div>
      <div class="item item-text-wrap">
        Model : Withings tensiometer
      </div>
      <div class="item item-text-wrap">
        Version : 1.2.9
      </div>
      <div class="item item-text-wrap">
        UUID : 110e8400-e29b-11d4-a716-44440
      </div>
    </div>

        <div class="card">
	      <div class="item item-divider">
	        Information Activité
	      </div>
	      <div class="item item-text-wrap">
	        Model : Withings activity
	      </div>
	      <div class="item item-text-wrap">
	        Version : 3.1.1
	      </div>
	      <div class="item item-text-wrap">
	        UUID : 340e8300-a24b-d1d3-dac6-33220
	      </div>
	    </div>
	</div>


    </ion-content>

	<ion-footer-bar align-title="left" class="bar-positive">

		<div class="buttons" ng-click="frequence_onclick()">
	        <button class="button"><i class="icon ion-heart"></i>
	          Fréquence
	        </button>
	    </div>
	  	
	  	<h1 class="title">Objets</h1>

	    <div class="buttons" ng-click="activity_onclick()">
	        <button class="button" align-title="right"><i class="icon ion-android-walk"></i>
	          Activité
	        </button>
		</div>

	</ion-footer-bar>

</ion-view>