<ion-view title="Pharmacie">
<ion-content padding="true">




<div class="card">
	<div class="item item-avatar" style="background-color:#ECF5FF">
		<img src="images/pills.png"/>
		<h2>Prescription en cours</h2>
	</div>
	<div class="item item-text-wrap">
		<b>CETIRIZINE MYLAN PHARMA 10mg</b>
		<br>
		1 comprimé le matin
	</div>
	<div class="item item-text-wrap">
		<b>BISOPROLOL (HEMIFUMARATE DE) 5 mg - CARDIOCOR 5 mg</b> 
		<br>
		1 comprimé matin, midi et soir
	</div>

</div>


</ion-content>
</ion-view>